Makefile
saiagent
compile
configure
depcomp
install-sh
missing
stamp-h1
test-driver
tests/check_saiagent
tests/check_*.log
tests/check_*.trs
tests/*.log
config.*
.deps
*.cache
*.m4
*.o
*.in
*.swp
*.bak
